#overlay {
    position: absolute;
    font-size: 16px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1s;
  }

  #ar-overly{
      position: relative;
      z-index: -1;
  }
  
  .is-selecting #ar-overly button {
    opacity: 0;
  }
  
  #ARButton {
    z-index: 9999;
  }
  
  
  #notSupported {
    width: 50%;
    margin: auto;
    background-color: #f00;
    margin-top: 20px;
    padding: 10px;
  }
  
  

  #ar-overly #controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: calc(100% - 40px);
    height: 47px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: none;
  }
  
  #ar-overly #controls button {
    width: 45px;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  #ar-overly #controls #button-reset {
    background-image: url('./assets/Icon material-undo-1.svg');
  }
  #ar-overly  #controls #button-action {
    background-image: url('./assets/flash.svg');
  }
  #ar-overly #controls #button-close {
    background-image: url('./assets/x.svg');
  }
  #ar-overly  #controls #button-mode-toggle {
    color: white;
    width: 130px;
    position: relative;
  }
  
  #ar-overly #controls #button-mode-toggle > * {
    display: inline-block;
    width: 48px;
    height: 35px;
    background-repeat: no-repeat;
  }
  
  #ar-overly #controls #button-mode-toggle .dynamic-mode {
    background-image: url(./assets/dynamic-mode.svg);
  }
  #ar-overly #controls #button-mode-toggle .static-mode {
    background-image: url(./assets/static-mode.svg);
  }
  
  #ar-overly #controls #button-mode-toggle::after {
    content: '';
    width: 54.5px;
    height: 3px;
    background-color: lightblue;
    display: block;
    position: absolute;
    right: 0;
    transition: all 0.2s;
  }
  
  #ar-overly  #controls #button-mode-toggle:focus {
    outline: none;
  }
  
  #ar-overly #controls #button-mode-toggle.static::after {
    right: 100%;
    transform: translateX(100%);
  }
  
  .tool-button {
    height: 50px;
    outline: none;
    background-color: #ffffff;
    opacity: 0.3;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    font-size: 15px;
    font-weight: 900;
    color: #3d3d3d;
    margin: 10px;
  }
  
  #screenshot-button{
      display:inline-block;
      padding:0.3em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:2em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:#FFFFFF;
      background-color:#4eb5f1;
      text-align:center;
      transition: all 0.2s;
  }
  #screenshot-button:hover{
      background-color:#4095c6;
  }
  
  #share_fb{
      display:inline-block;
      padding:0.3em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:2em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:#FFFFFF;
      background-color:#4eb5f1;
      text-align:center;
      transition: all 0.2s;
  }
  
  #video {
      border: 1px solid black;
      box-shadow: 2px 2px 3px black;
      width: 100%;
      height: 100%;
    opacity: 0;
    }
    
    #canvas {
      display: none;
    }
    
    .camera {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .output {
      width: 340px;
      display:inline-block;
    }
    
    #startbutton {
      display:block;
      position:relative;
      margin-left:auto;
      margin-right:auto;
      bottom:32px;
      background-color: rgba(0, 150, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.7);
      box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-family: "Lucida Grande", "Arial", sans-serif;
      color: rgba(255, 255, 255, 1.0);
    }
    
    .contentarea {
      font-size: 16px;
      font-family: "Lucida Grande", "Arial", sans-serif;
      width: 760px;
    }
  
  canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
  
  #camrea {
    z-index: -1;
    position: relative;
  }
  
  #canvas {
      display: none;
  }
  
  #menus {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #aircrafts_menu {
    width: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    min-width: 0;
    scroll-snap-type: inline mandatory;
  }
  
  #aircrafts_menu img {
    display: inline-block;
    width: 100%;
  }
  
  .aircraft-option {
    padding: 0 !important;
    flex: 1 0 auto;
    scroll-snap-align: center;
    height: 50px;
    width: 50px;
    outline: none;
    background-color: #ffffff6b;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    border: none;
    box-shadow: 0px 0px 20px 5px rgba(87, 87, 87, 0.445);
    font-size: 15px;
    font-weight: 900;
    color: #3d3d3d;
    margin: 5px;
  }
  
  .aircraft-option.selected {
    background-color: #ffffff;
  }
  
  #trails_menu {
    width: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    min-width: 0;
    scroll-snap-type: inline mandatory;
  }
  
  #trails_menu img {
    display: inline-block;
    width: 22px;
  }
  
  .trails-option {
    flex: 1 0 auto;
    scroll-snap-align: center;
    height: 28px;
    width: 28px;
    outline: none;
    background-color: #ffffff36;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    box-shadow: 0px 0px 20px 5px rgba(87, 87, 87, 0.445);
    font-size: 15px;
    font-weight: 900;
    color: #3d3d3d;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  
  .trails-option.selected {
    border: 1px solid rgba(255, 255, 255, 0.767);
  }
  
  .small-x-button {
    padding: 3px 2px 1px;
    border-radius: 50px;
    background-color: black;
  }
  
  
  #menus {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #settings_menu {
    width: calc(100% - 30px);
    height: 50px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mode-menu {
    display: flex;
  }
  
  .mode-menu div {
    font-size: 17px;
    font-weight: 400;
    width: 50px;
    text-align: center;
  }
  
  .mode-menu .selected {
    font-weight: 600;
  }
  
  /* USDZ */
  .image-model {
    width: 200px;
    border-radius: 10px;
  }