.body {
    background: #7bd1fc;
}
.background-image {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(2px) brightness(75%);
    margin: auto;
    /* overflow:  hidden; */
    height: 100%;
    display: grid;
}

.center-fit {
    max-width: 100%;
    margin-top: 10%;
    /*max-height: 100%;*/
}