body {
    background: #7bd1fc;
    overflow: hidden;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    text-rendering: optimizeLegibility;
}
.background-image {
    -webkit-filter: blur(2px) brightness(75%); /* Safari 6.0 - 9.0 */
    filter: blur(2px) brightness(75%);
}

.center {
    margin-right: auto;
    margin-left: auto;
    margin-top: 9vh;
    display: block;
    /* width: 50%; */
    /* top: 47px; */
}

.shadow {
    box-shadow: 0 0 20px 13px grey;
    border-radius: 20px;
}

.countdown-frame {
    z-index: 99;
    margin-right: 70%;
    margin-top: 50%;
    position: absolute;
    width: 296pt;
    height: 368pt;
    max-width: 375pt;
    max-height: 667pt;
    background: white;
    border-radius: 20px;
    top: 0;
    flex-direction: column;
    text-align: center;
    /* font-weight:  bold; */
    display: flex;
    /* align-self:  center; */
}

.countdown-title {
    font-weight: bolder;
    /* align-items: center; */
    height: 40pt;
    /* overflow: auto; */
    width: 216.5pt;
    font-size: 17pt;
    text-align: center;
    display: flex;
}

.logo {position: relative;width: 125.5pt;margin-right: 25%;margin-top: 17pt;/* right: 50%; *//* margin-right: 50%; *//* margin-top: 50%; */height: 144pt;text-align: center;}