  #map {
    position: absolute;
       top: 64px; /* Header Height */
       bottom: 0px; /* Footer Height */
       width: 100%;    
  }
  
  /* Makes the page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;    
    font-family: 'Heebo', sans-serif;
  }  
  div.aircraftInfoContent {
    width: 150px;
    height: 150px;
  }          
  img.aircraftImage {
    width: 140px;
  }
  div.firstHeading {
    font: normal 1.5em/25px arial;
  }  
  
  div.fullScreenFloating {
    position:absolute; width:100%; z-index: 9999           
  }
  
  div.topbar-help {
    background-color: #4286f4;
    opacity: 0.8;         
    color: white; 
    display: inline-block;
    padding: 4px;
  }
  
  div.map-dark {
    pointer-events: none;
    position:absolute; 
    width:100%;
    height:100%;
    z-index: 9999;
    background-color: #060606;
    opacity: 0.1;   
  }
  
  div.splash {
    pointer-events: none;
    position:absolute; 
    width:100%;
    top: 0px; 
    bottom: 0px; 
    width: 100%;    
    z-index: 99999;
    background-color: #7bd1fc;
    opacity: 1.0; 
    background-position: center center;
    background-repeat: no-repeat;
  }

#headerIcon {
  display: block;
  width: 90px;   
  margin: 0 auto;
  padding-top: 5pt;
}  

#menuButton {
  display: block;
  width: 22px;   
  float: left; 
  margin-left: 19px;
  margin-top: 25.6px;
}

#homeButton {
  display: block;
  width: 24px;   
  float: right;
  margin-right: 20px;
  margin-top: 22.6px;  
}

#popupTitle {
  font-size: 17px;
  color: white;
  float: right;
}

#popupSubTitle {
  font-size: 12px;
  color: #187aab;
  float: left;
}

#popupHeader { 
  background: #3bb5f2;
  height: 22px;
  vertical-align: middle;
  padding-top: 14px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 14px;
}
div.table {
  display:table;
  width:100%; 
  border: none;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0px;
}

div.tableRow { 
  background: white;
  display: table-row;   
  width:100%;
  height: 60px;
}

img.aircraftIcon { 
  display: table-cell;   
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  height : 52px;    
}

div.aircraftName { 
  display: table-cell;
  vertical-align: middle;
  width: 100%; 
}

div.time {
  display: table-cell;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  vertical-align: middle;  
}

div.tableRow:nth-child(odd) { background: #f8f6f6; }

#locationPopup {
    position:absolute; 
    width:100%; 
    z-index: 9999;
    bottom: 0px;         
}

img.imageCache {
  visibility: hidden;
}

HEADER 
{ 
    display:block; 
    background:#08051a ; 
    position:relative; 
    height:64px;
}

