.body,
#wrapper {
    /* Break the flow */
    position: absolute;
    top: 0px;
    /* Give them all the available space */
    width: 100%;
    height: 100%;
    /* Remove the margins if any */
    margin: 0;
    /* Allow them to scroll down the document */
    overflow-y: hidden;
}

#wrapper {
    /* Making the wrapper stack above the body */
    z-index: 2;
}

#map {
    position: absolute;
    top: 64px;
    /* Header Height */
    bottom: 0px;
    /* Footer Height */
    width: 100%;
    z-index: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* heebo-300 - hebrew_latin */

@font-face {
    font-family: "Heebo-Light";
    font-style: normal;
    font-weight: 300;
    src: local("Heebo Light"), local("Heebo-Light"), url("../fonts/heebo-v3-hebrew_latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/heebo-v3-hebrew_latin-300.svg#Heebo") format("svg");
    /* Legacy iOS */
}

/* heebo-regular - hebrew_latin */

@font-face {
    font-family: "Heebo-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Heebo"), local("Heebo-Regular"), url("../fonts/heebo-v3-hebrew_latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/heebo-v3-hebrew_latin-regular.svg#Heebo") format("svg");
    /* Legacy iOS */
}

/* heebo-700 - hebrew_latin */

@font-face {
    font-family: "Heebo-Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Heebo Bold"), local("Heebo-Bold"), url("../fonts/heebo-v3-hebrew_latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/heebo-v3-hebrew_latin-700.svg#Heebo") format("svg");
    /* Legacy iOS */
}

/* heebo-500 - latin */

@font-face {
    font-family: "Heebo-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/heebo-v4-latin-500.eot");
    /* IE9 Compat Modes */
    src: local("Heebo Medium"), local("Heebo-Medium"),
        url("../fonts/heebo-v4-latin-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/heebo-v4-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/heebo-v4-latin-500.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/heebo-v4-latin-500.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/heebo-v4-latin-500.svg#Heebo") format("svg");
    /* Legacy iOS */
}

/* Makes the page fill the window. */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 0;
    direction: rtl;
    background: white;
    font-family: "Heebo-Regular", sans-serif;
    text-rendering: optimizeLegibility;
    /* Sending body at the bottom of the stack */
    z-index: 1;
}

div.aircraftInfoContent {
    width: 150px;
    height: 150px;
}

img.aircraftImage {
    width: 140px;
}

img.aerobaticIcon {
    display: table-cell;
    padding-left: 22px;
    /*padding-top: 18px;*/
    /*padding-bottom: 4px;*/
    height: 29px;
}

img.aerobaticTableIcon {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    height: 29px;
}

img.parachutistIcon {
    display: table-cell;
    padding-left: 30px;
    /*padding-top: 16px;*/
    /*padding-bottom: 4px;*/
    height: 29px;
}

div.firstHeading {
    font: normal 1.5em/25px arial;
}

div.fullScreenFloating {
    position: absolute;
    width: 100%;
    z-index: 9999;
}

div.topbar-help {
    background-color: #4286f4;
    opacity: 0.8;
    color: white;
    display: inline-block;
    padding: 4px;
}

div.map-dark {
    top: 64px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #060606;
    opacity: 0.1;
    bottom: 0;
}

div.splash {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: -64px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    z-index: 9999999;
    background-color: #7bd1fc;
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
}

.loading {
    pointer-events: none;
    bottom: 0px;
    z-index: 99999999;
    background-position: center center;
    background-repeat: no-repeat;
    height: 48px;
    position: relative;
    top: 75%;
    justify-content: center;
}

#headerIcon {
    width: 90px;
    height: 39px;
}

#headerIconContainer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#aboutButton {
    position: absolute;
    left: 20px;
    top: 21px;
}

#homeButton {
    margin-top: 2px;
    cursor: pointer;
    padding: 6px 6px;
    margin-left: 15px;
}

#popupBody {
    padding-right: 21px;
    display: inline-flex;
    flex-direction: column;
}

#popupTitle {
    font-family: "Heebo-Bold";
    font-size: 24px;
    color: #2b2b2b;
    float: right;
    padding-left: 10pt;
}

#popupTime {
    font-family: "Heebo-Regular";
    font-size: 17px;
    color: #2b2b2b;
    float: right;
}

#popupSubTitle {
    font-family: "Heebo-Light";
    font-size: 22px;
    color: #2b2b2b;
    float: right;
    padding-right: 0px;
    padding-top: 2px;
}

#slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#popupIcon {
    float: left;
    padding-left: 29px;
}

#popupHeader {
    width: 100%;
    height: 76px;
    background: #3bb5f2;
    vertical-align: middle;
    padding-top: 3pt;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding-bottom: 10px;
}

#registerToLocationNotifcations {
    display: flex;
}

#registerToLocationText {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 21px;
    color: #585868;
    font-size: 15px;
    flex: 1;
    margin-left: 21px;
}

#registerToggle {
}

#aircraftListContainer {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: #e5e5e6;
}

#aircraftsListView {
    background: #f7f5f5;
}

#aircraftInfoBannerContainer {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
}

#aircraftInfoBannerBackground {
    display: none;
}

#aircraftInfoBanner {
    width: 100%;
    height: 100%;
}

#aircraftIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.6;
    margin-left: 7px;
}

#aircraftInfoIcon {
    display: flex;
    width: 40px;
}

#aircraftInfoContent {
    overflow-y: scroll;
    /* has to be scroll, not auto */
    display: block;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    background: white;
    color: #293b57;
}

#aircraftInfoText {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#aircraftInfoTime {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    font-size: 18px;
    background: white;
}

#aircraftInfoTimeLabel {
    font-size: 11px;
    color: #8696b0;
}

#aircraftInfoName {
    font-size: 18pt;
    font-weight: bold;
    font-family: "Heebo-Bold";
    color: #293b57;
}

#aircraftInfoType {
    font-size: 18px;
    color: #455773;
    font-weight: lighter;
}
#aircraftInfo3D {
    position: absolute;
    left: 142px;
    bottom: 0px;
    font-family: Heebo;
    font-size: 10px;
    color: #293b57;
}

#aircraftInfoMore {
    width: 100%;
    height: 32px;
    background: #3bb5f2;
    text-align: center;
    color: white;
    padding-top: 9px;
    font-size: 15px;
}

div.table {
    display: table;
    width: 100%;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
}

.tableRow {
    background: white;
    display: flex;
    align-items: center;
    height: 61px;
    margin-bottom: 1px;
}

.indented {
    padding-right: 80px;
}

.aerobatic {
    height: 48px;
    background-color: white !important;
    border-bottom: solid 1px #f4f5f5;
    padding-right: 25px;
}

div.locationsTable {
    display: table;
    width: 100%;
}

a.locationRow {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: table;
}

div.locationRow {
    background: #f7f5f5;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

div.locationSpace {
    display: none;
    width: 100%;
    background: #f7f5f5;
}

div.locationPadding {
    display: table-row;
    height: 4px;
}

div.locationName {
    /*display: table-cell;*/
    vertical-align: middle;
    width: 100%;
    padding-right: 22px;
    font-family: "Heebo-Bold", sans-serif;
    font-size: 12pt;
}

div.nextAircraftSection {
    display: inline-flex;
    margin-left: 28px;
    float: left;
}

div.expandArrow {
    margin-right: 23px;
    /*margin-top: 16px;*/
    margin-bottom: auto;
}

div.collapseArrow {
    margin-right: 23px;
    /*margin-top: 16px;*/
    margin-bottom: auto;
    display: none;
}

div.nextAircraftTime {
    /*margin-top: 16px;*/
    margin-bottom: auto;
    margin-right: 23px;
}

div.smallAircraftName {
    vertical-align: middle;
    /*margin-top: 16px;*/
    /*margin-bottom: 16px;*/
    font-family: "Heebo-Light", sans-serif;
    font-size: 12pt;
}

img.aircraftIcon {
    /*display: table-cell;*/
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 35px;
}

.aircraftSchedule img.aircraftIcon {
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.aircraftName {
    /*display: table-cell;*/
    color: #37474f;
    vertical-align: middle;
    /*width: 100%;*/
    float: right;
    flex: 1;
}

div.time {
    display: table-cell;
    padding-left: 24px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    float: left;
}

div.infoPopup {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 100000;
    bottom: 0;
    background: white;
    box-shadow: 0px -2.5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -2.5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2.5px 10px 0px rgba(0, 0, 0, 0.1);
}

#popupDisplay {
    display: block;
}

#waze {
    padding-top: 16px;
}

#popupIcon {
    position: absolute;
    top: 8px;
    left: 0px;
    height: 100%;
}

div.infoBasePopup {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    z-index: 100000;
    bottom: 0;
    position: relative;
}

.screenshot {
    position: absolute;
    top: 12%;
    left: 10%;
}

div.locationInfoPopup {
    position: absolute;
    width: 100%;
    z-index: 9999;
    bottom: 0px;
}

#aboutPopup {
}

.aboutPopup {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    text-align: center;
    position: absolute;
    z-index: 10002;
    width: 100%;
    height: 100%;
    bottom: 0px;
    justify-content: space-between;
}

.aboutHeader {
    align-items: center;
    background: #7bd1fc;
    width: 100%;
    height: 152px;
}

.aboutHeaderSpacing {
    background: #7bd1fc;
    width: 100%;
    flex: 1;
}

.aboutExitLogo {
    z-index: 10003;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.aboutLogo {
    position: relative;
    top: -165px;
    width: 80vw;
    max-width: 375px;
}

#aboutLogoDiv {
    width: 100%;
    height: 198px;
}

.aboutSpacing {
    flex: 1;
}

.aboutTitle {
    font-family: "Heebo-Bold", sans-serif;
    font-size: 22px;
    margin-bottom: 13px;
    margin-top: 13px;
}

.aboutBody {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 400px;
}

.aboutBottom {
    width: 100%;
}

.aboutBottomLink {
    height: 50px;
    width: 100%;
    background: #f7f5f5;
}

.aboutBottomImg {
    padding: 9px;
}

.iafLogo {
    width: 69px;
    height: 68px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.bottomText {
    font-size: 10pt;
    align-self: center;
    padding-bottom: 7px;
}

#aboutMenuTitle {
    color: white;
    font-size: 17px;
    font-family: "Heebo-Bold", sans-serif;
    vertical-align: middle;
}

.halfBlue {
    background: #7bd1fc;
    width: 100%;
    bottom: 52%;
    z-index: 9999;
    top: 64px;
    position: fixed;
    z-index: -1;
}

div.imageCache {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

img.imageCache {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

HEADER {
    display: block;
    position: relative;
    height: 0px;
    z-index: 10000;
}

#headerBg {
    display: flex;
    height: 64px;
    width: 100%;
    position: absolute;
    z-index: 10000;
    align-items: center;
    background: #080c1a;
}

#expandedInfo {
    display: none;
    padding-right: 24px;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    padding-left: 24px;
    height: 100%;
}

.aircraftInfoContentRowFlex {
    display: flex;
    padding-bottom: 10px;
}

.aircraftDescription {
    padding-bottom: 8px;
    white-space: pre-line;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.aircraftInfoContentIcon {
    padding-top: 5px;
    padding-left: 10px;
    height: 24px;
    width: 24px;
}

.aircraftInfoContentTitle {
    font-size: 17px;
    font-family: "Heebo-Bold", sans-serif;
}

.aircraftInfoContentText {
    color: #37474f;
    font-size: 15px;
    white-space: pre-line;
}

.aircraftInfoContentGroup {
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    padding-bottom: 8px;
    width: 100%;
}

.aircraftInfoTitle {
    display: flex;
    justify-content: space-around;
    background-color: #f7f5f5;
    z-index: 1;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}

.listViewContainer {
    direction: ltr;
    background-color: white;
    height: 100%;
    position: absolute;
    z-index: 10000;
    width: 100%;
    /* display: none; */
    overflow: hidden;
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.3s;
    bottom: 0;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    background: white;
}

.menuHeader li {
    display: inline;
    text-align: center;
    transition: display 0.3s;
}

.menuLink {
    display: inline-block;
    width: 25%;
    padding: 0.75rem 0;
    margin: 0;
    text-decoration: none;
    font-size: 13.5pt;
    color: black;
}

.menuLink.active {
    color: rgb(59, 181, 242);
    font-size: 13.5pt;
    font-family: "Heebo-Bold";
}

hr.two {
    margin-left: 0%;
}

hr {
    height: 0.4em;
    width: 50%;
    margin-left: 50%;
    background: #3bb5f2;
    border: none;
    transition: 0.3s ease-in-out;
}

.menuHeader {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.timeline-warning {
    font-size: 15px;
    /* text-align: center; */
    color: #293b57;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

div.quiz-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.quizIcon{
    margin-right: 12px;
}

.aircraftCategory {
    width: 100%;
    height: 32px;
    padding-right: 14px;
    line-height: 32px;
    background-color: #e5e5e6;
    font-size: 15px;
    color: #37474f;
}

.date {
    font-size: 12px;
}

.aircraftLocationCategory {
    width: 100%;
    height: 32px;
    padding-right: 21px;
    line-height: 32px;
    background-color: #d7effb;
    font-size: 15px;
    color: #585868;
}

.categoryBlue {
    background-color: #3bb5f2;
    color: white;
    padding-right: 14px;
}

.tabs {
    direction: rtl;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.listContainer {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: translate 1s;
}

.listContainer.hide {
    position: absolute;
    transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
}

#basePopup {
    height: 98px;
}

#baseInfo {
    background: white;
    height: 90px;
    -webkit-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.1);
}

.baseData {
    position: absolute;
    display: inline;
    padding-top: 12px;
    padding-right: 0px;
    font-size: 14px;
    padding-left: 65px;
    letter-spacing: 0;
    padding-bottom: 12px;
    line-height: 22px;
}

b.baseData {
    padding: 0;
    font-size: 17px;
    font-family: Heebo-Bold, sans-serif;
}

br.baseData {
    line-height: 20pt;
}

.baseEventIcon {
    padding-top: 22pt;
    padding-bottom: 32pt;
    padding-right: 20px;
    width: 42px;
    height: 40px;
    padding-left: 20px;
}

.baseExitIcon {
    width: 30pt;
    height: 30pt;
    position: relative;
    cursor: pointer;
    float: left;
    top: 61px;
    left: 15px;
    border: 2px solid white;
    z-index: 20;
    border-radius: 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#backgroundImage {
    display: inline-block;
    background: #7bd1fc;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-filter: blur(2px) brightness(75%);
    /* Safari 6.0 - 9.0 */
    filter: blur(4px) brightness(75%);
    /* display: flex; */
    /* flex-direction:  column; */
}

#entranceLogo {
    flex-shrink: 4;
    max-width: 50%;
    align-self: center;
}

.entranceBody {
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 12pt;
    flex: none;
    flex-shrink: 2;
    margin-top: 5px;
    margin-bottom: 2px;
}

#scheduleLink {
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 13pt;
    width: 100%;
    align-self: flex-end;
    position: relative;
    min-height: 32px;
    height: 48px;
    flex-shrink: 0;
}

.scheduleText {
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    flex-grow: 1;
    height: 48px;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #3bb5f2;
}

.showMapButton {
    margin-right: 1px;
    border-bottom-left-radius: 16px;
}

.showScheduleButton {
    margin-left: 1px;
    border-bottom-right-radius: 16px;
}

.mapClusterPopup {
    display: flex;
    flex-direction: column;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 296px;
    height: 309px;
    position: absolute;
    border-radius: 16px 16px 16px 16px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.mapClusterPopupContent {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mapClusterPopupContent .tableRow {
    height: 71px;
    border-bottom: 1px #dadde3 solid;
    font-size: 17px;
}

.scheduleRow {
    height: 61px;
    display: block;
    background: white;
    margin-bottom: 1px;
}

.scheduleRow > div.aircraftName {
    margin-top: 18px;
    margin-bottom: 18px;
}

.scheduleRow > div.time {
    margin-top: 18px;
    margin-bottom: 18px;
}

.locationIcon {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.mapClusterPopupFooter {
    font-family: "Heebo-Bold";
    font-size: 14px;
    width: 100%;
    height: 47px;
    text-align: center;
    border-radius: 0 0 16px 16px;
    line-height: 47px;
    color: white;
    background-color: #3bb5f2;
}

.mapClusterPopupHeader {
    font-family: "Heebo-Bold";
    font-size: 14px;
    width: 100%;
    border-bottom: 1px #dadde3 solid;
    height: 47px;
    text-align: center;
    line-height: 47px;
    color: #37474f;
}

#entrancePopup {
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background-image 5s ease-in-out;
    position: relative;
}

#entrancePopup.mapLoaded {
    background: rgba(255, 255, 255, 0.6);
}

#countdownContainer {
    width: 100%;
    flex-direction: column;
    display: flex;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    margin: auto;
    align-items: center;
    z-index: 2;
}

.confirmationPopup {
    color: #37474f;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    min-width: 16em;
    background: white;
    flex-direction: column;
    border-radius: 8pt;
    z-index: 1;
    justify-content: space-around;
}

.countdownLabel {
    vertical-align: middle;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 2px;
}

.countdownLabel:not(:first-child) {
    border-left: 1pt solid white;
}

.countdownText {
    font-family: "Heebo-Bold", sans-serif;
    font-size: 15pt;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20px;
}

#daysText {
    flex-grow: 1;
}

#hoursText {
    flex-grow: 1;
}

#minutesText {
    flex-grow: 1;
}

#countdownText {
    /* font-size: 13pt; */
    width: 122px;
    display: inline-flex;
    direction: ltr;
    align-items: center;
    color: #37474f;
    flex-direction: row;
    flex: 1;
    font-size: 10pt;
}

.countdown {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    background-color: #3bb5f2;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    color: white;
    border-radius: 7pt;
    flex-grow: 5;
    width: 122px;
    direction: ltr;
    flex: 1;
    align-items: center;
    flex-direction: row;
    font-size: 8pt;
    margin-top: 7px;
}

.aboutImage {
    display: flex;
    padding-left: 14px;
    padding-bottom: 2px;
    align-self: left;
}

.tableIcons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-direction: row-reverse;
}

#closeIcon {
    display: block;
    position: fixed;
    padding-top: 20px;
    height: 30px;
    padding-left: 25px;
    direction: ltr;
    width: 30px;
    margin: auto;
}

#closeIcon img {
    position: relative;
    /* top: 5px; */
    display: block;
    right: 5px;
}

#closeIconContainer {
    position: fixed;
    margin: auto;
    width: 296px;
    direction: ltr;
    height: 18px;
}

.aboutIcon {
    position: fixed;
    z-index: 1;
    bottom: 18px;
    direction: ltr;
    display: flex;
    right: 6px;
    opacity: 0.4;
}

.marker-fix {
    margin-left: -35px !important;
    margin-top: -35px !important;
    width: auto !important;
    height: auto !important;
    transition: 2s;
}

.alert-header {
    background: rgb(255, 97, 97);
    color: white;
    padding: 6px;
}

.alert-header > img {
    display: inline-block;
    vertical-align: middle;
}

.alert-header > span {
    font-size: 10pt;
    font-weight: bold;
}

.confirmationMessageContainer {
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.confirmationMessageTitle {
    font-family: "Heebo-bold";
    margin: 1em;
    margin-bottom: 0.5em;
}

.confirmationMessageIcon {
    width: 58px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
}

.confirmationMessageBody {
    margin-bottom: 1em;
    margin-right: 20px;
    margin-left: 20px;
}

.confirmButton {
    align-items: center;
    min-height: 48px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #3bb5f2;
    color: white;
    border-radius: 0 0 8pt 8pt;
}

.aircraftScheduleContent {
}

.aircraftInfoButton {
    width: 100%;
    /* color: rgb(59, 181, 242); */
}

.aircraftScheduleButton {
    width: 100%;
}

.aircraftContentSeparator {
    display: flex;
    font-size: 15pt;
    justify-content: space-evenly;
    background: white;
}

.aircraftMenuLink {
    display: flex;
    font-size: 13.5pt;
    justify-content: center;
    padding: 0.75rem 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.aircraftMenuLink.active {
    color: rgb(59, 181, 242);
    font-size: 13.5pt;
    font-family: "Heebo-Bold";
}

hr.aircraftLineSeparator {
    width: 50%;
    padding: 0.13em;
    height: 0;
}

hr.aircraftLineSeparator.two {
}

#aircraftInfoStartTime {
    font-family: "Heebo-Medium";
    direction: ltr;
}

#aircraftInfoEventIcon {
    display: none;
    width: 34px;
}

#aircraftInfoEventIconContainer {
    background: white;
    display: flex;
    padding-right: 10px;
    width: 34px;
    padding-left: 4px;
    align-items: center;
}

.aircraftTabs {
    direction: rtl;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    flex: 1;
}

.aircraftSchedule {
    display: flex;
    max-height: 800px;
    flex-direction: column;
    overflow-y: scroll;
    background: #e5e5e6;
}

.locationMarkerIcon {
    display: block;
    margin-top: -7.25px;
}

.leafletlocationMarkerIcon {
    display: block;
    margin-top: -30px;
}

.locationIconContainer {
    width: 48px;
    height: 48px;
    margin-top: 24px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

.locationMarkerLabel {
    text-align: center;
    font-family: Heebo-Regular;
    font-size: 9pt;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 13px;
    padding: 4px;
    font-weight: normal;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -7.5px;
}

.locationMarkerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
}

.locationMarkerDivGmaps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-bar {
    display: flex;
    padding: 22px 25px 22px 25px;
    color: #080c1a;
    background: #080c1a;
    font-family: "Heebo-Regular";
    direction: rtl;
    position: sticky;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
}

.search-input {
    background: #1b223a;
    border-radius: 30px;
    width: 100%;
    height: 25px;
    font-size: 13pt;
    padding: 10px 36px 10px 20px;
    border: 0px;
    outline: none;
    caret-color: #3bb5f2;
    position: sticky;
    transition: width 0.6s, background 0.5s;
}

.search-input::placeholder {
    color: #9595af;
    font-family: "Heebo-Regular";
}

.search-input:focus {
    background: white;
}

.search-icon {
    background: url("../icons/search.svg") no-repeat;
    height: 25px;
    position: absolute;
    top: 30px;
    z-index: 1;
    width: 25px;
    right: 38px;
}

#search-clear-button {
    background: url("../icons/clear-button.svg") no-repeat;
    height: 35px;
    display: none;
    width: 35px;
    position: absolute;
    left: 98px;
    top: 26px;
}

#search-back-button {
    font-size: 15pt;
    color: #3bb5f2;
    font-family: "Heebo-Regular";
    font-weight: 600;
    margin-right: 20px;
    display: none;
    margin-top: 7px;
}

#search-view {
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-view {
}

#search-prompt {
    color: #8e8e93;
    font-family: "Heebo-Regular";
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    display: none;
}

.search-sorry {
    font-size: 18px;
}

#noAircraftMessage {
    display: none;
    font-size: 16px;
    display: block;
    color: #8e8e93;
    font-weight: 500;
    font-family: "Heebo-Regular";
    text-align: center;
    margin-top: 6px;
}

#noAircraftMessageRow {
    font-size: 16px;
    display: block;
    color: #8e8e93;
    font-family: "Heebo-Regular";
    text-align: center;
    padding-bottom: 17px;
    padding-top: 17px;
}

.subheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 64px;
    position: fixed;
}

.aerobatic-gif {
    display: flex;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
}

.aerobatic-gif-marker {
    position: absolute;
    width: 128px;
    height: 128px;
}

.circle {
    border-radius: 50%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    animation-delay: 0s;
}

.circle2 {
    border-radius: 50%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    animation-delay: 1s;
}

.glowing-circle {
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.leaflet-circle {
    top: -45px;
}

@keyframes scaleIn {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0.9;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

#flightStartIcon {
    height: 60px;
    width: 60px;
    padding-top: 15px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 14px;
}

#flightStartChangesIcon {
    height: 60px;
    width: 60px;
    padding-top: 15px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 14px;
}

#flightEndIcon {
    padding: 18px 11px 0px 12px;
    height: 56px;
    width: 54px;
}

#ofekIcon {
    padding: 20px 0 0 0;
    width: 100px;
    height: 70px;
}

.ofek-link {
    text-decoration: none;
}

#noCrowdingWarningText {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 14px;
    color: #d2232a;
    font-size: 15px;
    flex: 1;
    margin-left: 21px;
}

#noCrowdingWarning {
    display: flex;
}

.noCrowdingIcon {
    height: 50px;
    width: 50px;
    display: flex;
    position: relative;
    top: 25%;
    margin-right: 14px;
}


#goto-press-button {
    display: none;
}

#audioMessageText {
    text-align: justify;
}
/* Desktop mode handler */

@media only screen and (min-width: 600px) {
    
    #cockpitVideo {
        border-radius: 20px 20px 0 0;
        margin-top: 20px;
    }

    #goto-press-button {
        margin-top: 5px;
        border-radius: 5px;
        height: 22px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        width: max-content;
        display: flex;
        align-items: center;
        transition: all 0.25;
    }

    #goto-press-text {
        font-size: 0.8em;
        transition: all 0.25s;
        margin-right: 0;
        width: 0;
        white-space: nowrap;
        overflow-x: hidden;
        
    }

    #goto-press-button:hover #goto-press-text{
        display: block;
        margin-right: 10px;
        width: 75px;
    }

    #goto-press-icon {
        height: 22px;
    }


    .listViewContainer {
        width: 400px;
        transform: translateX(100%) !important;
        height: calc(100vh - 64px) !important;
        margin: 0 400px 0 0;
    }
    .tabs {
        height: calc(100vh - 204px) !important;
    }
    #locationPopup {
        width: calc(100% - 400px);
        height: 500px;
        left: 0;
        overflow: hidden;
    }
    #menuHamburger {
        display: none;
    }
    #baseInfo {
        width: 100%;
    }
    #map {
        width: calc(100% - 400px);
        left: 0;
    }
    #headerIconContainer {
        text-align: right;
        margin-right: 15px;
    }
    .subheader {
        width: calc(100% - 400px);
        left: 0;
    }

    /* Aircraft Info Popup */
    .infoPopup {
        width: calc(100% - 400px) !important;
        left: 0;
    }

    .aircraftTabs {
        overflow-y: visible;
    }

    #aircraftInfoContent {
        overflow-y: visible;
    }

    #expandedInfo {
        overflow-y: visible;
    }

    .aircraftSchedule {
        overflow-y: visible;
    }

    #aircraftInfoBanner {
        width: 400px;
        height: auto;
        z-index: 101;
        margin: 20px;
        margin-bottom: 0;
        border-radius: 20px 20px 0 0;
    }

    #aircraftInfoBannerContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        background: black;
    }

    #aircraftInfoBannerBackground {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 100;
        filter: blur(10px);
        transform: scale(1.5);
    }

    .aircraftInfoContentRow.aircraftInfoTitle {
        z-index: 103;
    }

    #aircraftListContainer {
        height: inherit;
    }
}



.new-popup {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99999;
}
.new-popup .inner{
    width: 270px;
    height: 290px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #eff1f1;
    background-color: #ffffff;
    padding: 0 13px;
}

.new-popup .title {
    font-family: Heebo;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.18;
    text-align: center;
    color: #37474f;  
}

.new-popup ul {
    font-family: Heebo;
    font-size: 15px;
    line-height: 1.2;
    color: #37474f;
    padding-right: 56px;
    list-style: none;
}

.new-popup ul li {
    margin-top: 21px;
}

.new-popup ul li.ar::before, .new-popup ul li.quiz::before {
    content: '';
    width: 44px;
    height: 31.7px;
    background-image: url('../icons/popup_buttonn3d.svg');
    background-size: contain;
    display: block;
    position: absolute;
    top: 62px;
    right: 12.5px;
    background-position: top right;
    background-repeat: no-repeat;
}

.new-popup ul li.quiz::before {
    background-image: url('../icons/queezicon.svg');
    top: 160px;
    right: 22px;
}

.new-popup a {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    color: #3bb5f2;
    margin-top: 8px;
    display: block;  
}


.new-popup button {
    color: white;
    font-family: Heebo;
    font-weight: bold;
    font-size:18px;
    background-color: #3bb5f2;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    height: 48px;
    border: none;
    width: calc(100% + 3px);
}

div.open-bases-popup {
    overflow: scroll;
    direction: ltr;
    left:0;
    margin-left: auto;
    background-color: white;
    overflow : scroll;
    position: fixed;
    width: calc(100% - 400px);
    max-width: 475px;
    height: 0;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
    z-index: 9999999;
    margin-bottom: auto;
    background: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.50);
}


div.header-base-popup div.header-theme {
  display: flex;     
  position: relative; 
  height: 160px;
}

div.header-base-popup div.header-theme img.base-theme{
  position: absolute;
  object-fit: cover;
  height: auto;
  height: 160px;
  width: 100%;
  -webkit-user-drag: none;
}

div.header-theme div.header-menu {
    margin:0;
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 999;
}

div.header-menu img.drag {
    width: 35px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 100px;
    margin-right: calc(50% - 56.5px);
    -webkit-user-select: none;
}

div.header-menu img.close-handler {
    position: static;
    height: 30px;
    width: 30px;
    margin-right: 9px;
    margin-top: 9px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor:pointer;
}

div.header-base-popup div.header-general-title {
  position: relative;
  margin: 0;
  height: 76px;
  display: flex;
  flex-direction: row-reverse;
  background: #F7F5F5;
  border-bottom: 1px solid #c3c3c3;
  align-items: center;
}

div.header-base-popup div.header-general-title img {
  margin: 0;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

div.header-general-title div.header-title {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 14px;
    height: 100%;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

div.header-general-title h1 {
    margin: 0;
    font-family: Heebo-Bold;
    font-size: 26px;
    color: #293B57;
    letter-spacing: 0;
    font-weight: 700;
    direction: rtl;
    transform: translateY(10px);
}

div.header-general-title p {
    margin: 0;
    font-family: Heebo-Light;
    font-size: 17px;
    color: #455773;
    letter-spacing: 0;
    font-weight: 200;
    direction: rtl;
    margin-right: 1px;
    transform: translateY(-10px);
}

div.header-general-title a {
  margin-left: 24px;
  margin-right: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}


div.header-general-title a img {
  max-width: 29.25px;
  max-height: 27px;
}

div.open-bases-popup div.base-general-information {
  height: 100%;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin-top: 16px;
}

div.open-bases-popup div.base-general-information p.base-passage {
    margin: 0;
    margin-bottom: 10.5px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    font-family: Heebo-Regular;
    font-size: 14px;
    color: #37474F;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}


div.base-general-information div.base-passage-line {
    width: 85%;
    height: 3px;
    opacity: 0.2;
    border-bottom: 2px solid #455773;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}

div.base-general-information div.base-info-with-icon {
  display: flex;
  flex-direction: column;
  gap: -100px;
  margin: 0;
  margin-right: 5%;
  margin-bottom: 2%;
}

div.base-info-with-icon div.base-info {
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 13.5px;
  }

  div.base-info-with-icon div.base-info img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    height: 24px;
    width: 24px;
  }

div.base-info-with-icon div.base-info h2 {
    margin: 0;
    font-family: Heebo-Bold;
    font-size: 17px;
    color: #37474F;
    letter-spacing: 0;
    font-weight: 700;
    
  }

div.base-info-with-icon p {
    margin: 0;
    margin-right: 37.5px;
    margin-bottom: 4px;
    font-family: Heebo-Regular;
    font-size: 14px;
    color: #37474F;
    letter-spacing: 0;
    font-weight: 400;
    max-width: 73.3%;
}

a.corona-link {
    text-decoration: underline;
    font-family: Heebo-Regular;
    font-size: 14px;
    color: #3BB5F2;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
    font-weight: 600;
}

div.base-info-with-icon div.base-info p a:active{
    color: #1c516c 100%;
    font-weight: 600;
  }

div.airplane-card {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    max-width: 100%;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0 0px 9px 0 rgba(0,0,0,0.16);
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 22.5px;
    margin-bottom: 29PX;


}

div.airplane-card div.airplane-card-info-handler{
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: relative;
}

div.airplane-card-info-handler h1 {
    margin-top: 10.5px;
    margin-right: 13.5px;
    margin-bottom: 6px;
    font-family: Heebo-Bold;
    font-size: 17px;
    color: #37474F;
    letter-spacing: 0;
    text-align: right;
    line-height: 19px;
    font-weight: 700;
}

div.airplane-card-info-handler p {
    padding: 0;
    margin: 0;
    margin-right: 13.75px;
    font-family: Heebo-Regular;
    font-size: 12px;
    color: #37474F;
    letter-spacing: 0;
    text-align: right;
    line-height: 18px;
    font-weight: 400;
    width: 200px;
}

div.airplane-card-info-handler #base-map-button-handler {
    margin-right: 4.5%;
    margin-top: 3.5%;
}

div.airplane-card-info-handler a {
    margin: 0;
    -webkit-user-select: none;
    text-decoration: none;
}

div.airplane-card-info-handler a button.base-map {
    padding: 0;
    margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 30px;
  background-color: cyan;
  background: #3BB5F2;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;
  font-family: Heebo-Regular;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
  font-weight: 600;

}
div.airplane-card img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    margin-right: auto;
    height: 100%;
    width: 44%;
}

div.airplanes-show-header {
    margin: 0;
    background: #F7F5F5;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

div.airplanes-show-header h2.title{
    margin: 0;
    font-family: Heebo-Bold;
    font-size: 17px;
    color: #37474F;
    letter-spacing: 0;
    text-align: right;
    line-height: 19px;
    font-weight: 700;
    margin-right: 7%;
    margin-top: 1.3375%;
    margin-bottom: 1.6225%;
    -webkit-user-select: none;
}

@media only screen and (max-width: 600px) {
    div.open-bases-popup {
        width: 100%;
        max-width: 600px;
        left: 0;
    }

    div.airplane-card img {
        width: auto;
    }
}