
/* heebo-300 - hebrew_latin */
@font-face {
    font-family: 'Heebo-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Heebo Light'), local('Heebo-Light'), url('/fonts/heebo-v3-hebrew_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/heebo-v3-hebrew_latin-300.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-regular - hebrew_latin */
@font-face {
    font-family: 'Heebo-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url('/fonts/heebo-v3-hebrew_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/heebo-v3-hebrew_latin-regular.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-700 - hebrew_latin */
@font-face {
    font-family: 'Heebo-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Heebo Bold'), local('Heebo-Bold'), url('/fonts/heebo-v3-hebrew_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/heebo-v3-hebrew_latin-700.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-500 - latin */
@font-face {
    font-family: 'Heebo-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/heebo-v4-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Heebo Medium'), local('Heebo-Medium'),
    url('../fonts/heebo-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/heebo-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/heebo-v4-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/heebo-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/heebo-v4-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}

/* Makes the page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 0;
    direction: rtl;
    background: white;
    font-family: 'Heebo-Regular', sans-serif;
    text-rendering: optimizeLegibility;
}

.press-header {

}

.idf-logo {
}

.iaf-logo {
}

.main-logo {
}

.base-table {
}

#city-container {
}

.main-title {
}

.footer {
}

#base-container {
}
