
/* heebo-300 - hebrew_latin */
@font-face {
    font-family: 'Heebo-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Heebo Light'), local('Heebo-Light'), url('/fonts/heebo-v3-hebrew_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/heebo-v3-hebrew_latin-300.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-regular - hebrew_latin */
@font-face {
    font-family: 'Heebo-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url('/fonts/heebo-v3-hebrew_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/heebo-v3-hebrew_latin-regular.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-700 - hebrew_latin */
@font-face {
    font-family: 'Heebo-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Heebo Bold'), local('Heebo-Bold'), url('/fonts/heebo-v3-hebrew_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/heebo-v3-hebrew_latin-700.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-500 - latin */
@font-face {
    font-family: 'Heebo-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/heebo-v4-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Heebo Medium'), local('Heebo-Medium'),
    url('../fonts/heebo-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/heebo-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/heebo-v4-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/heebo-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/heebo-v4-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}

/* Makes the page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 0;
    direction: rtl;
    background: white;
    font-family: 'Heebo-Regular', sans-serif;
    text-rendering: optimizeLegibility;
}

.press-header {

display: flex;

justify-content: space-around;

direction: ltr;

height: 85px;

background-image: linear-gradient(#a1e3f9, #7bd1fc);
}

.idf-logo {
    width: 58px;
    height: 54px;
    align-self: center;
}

.iaf-logo {
    width: 58px;
    height: 54px;
    align-self: center;
}

.main-logo {margin-top: 10px;width: 148px;height: 108px;}

.base-table {width: 312px;margin-left: 17px;}

#city-container {margin-top: 24px;}

.main-title {display: flex;justify-content: center;position: relative;font-family: "Heebo-Bold";font-size: 18px;color: #37474f;align-items: center;}

.footer {display: flex;justify-content: center;margin-top: 30px;}

#base-container {margin-top: 50px;}

.title-decoration {width: 270px;height: 0.5px;color: #cecfcf;border-radius: 1px;flex-basis: 35%;}

.title-text {
}

.base-table-title {background: #52aee7;color: white;height: 23px;padding-right: 10px;display: flex;font-family: "Heebo-Regular";border-radius: 10px 10px 0 0;align-items: center;}

#base-table-list {margin-top: 19px;margin-right: 49px;}

.base-table-body {
}

.base-table-category {
}

.showcase-container {
}

.aircraft-icon {
    width: 25px;
    height: 25px;
}

.base-table-title-text {font-weight: 600;letter-spacing: 1px;flex: 0.3;align-self: flex-end;}

.base-title-times {/* padding-top: 1px; */}

.aircraft-icon-text {
}
