/* heebo-300 - hebrew_latin */
@font-face {
    font-family: 'Heebo-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Heebo Light'), local('Heebo-Light'), url('/fonts/heebo-v3-hebrew_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/heebo-v3-hebrew_latin-300.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-regular - hebrew_latin */
@font-face {
    font-family: 'Heebo-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url('/fonts/heebo-v3-hebrew_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/heebo-v3-hebrew_latin-regular.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-700 - hebrew_latin */
@font-face {
    font-family: 'Heebo-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Heebo Bold'), local('Heebo-Bold'), url('/fonts/heebo-v3-hebrew_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/heebo-v3-hebrew_latin-700.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-500 - latin */
@font-face {
    font-family: 'Heebo-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/heebo-v4-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Heebo Medium'), local('Heebo-Medium'),
    url('../fonts/heebo-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/heebo-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/heebo-v4-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/heebo-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/heebo-v4-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}

/* Makes the page fill the window. */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background: white;
    font-family: 'Heebo-Regular', sans-serif;
    text-rendering: optimizeLegibility;
}

.press-header {

    display: flex;

    justify-content: space-around;

    direction: ltr;

    height: 85px;

    background-image: linear-gradient(#a1e3f9, #7bd1fc);
}

.idf-logo {
    width: 58px;
    height: 54px;
    align-self: center;
}

.iaf-logo {
    width: 64px;
    align-self: center;
}

.main-logo {
    margin-top: 10px;
    width: 148px;
    height: 108px;
}

#city-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;
    max-width: 1200px;
}

.main-title {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Heebo-Bold";
    font-size: 18px;
    color: #37474f;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    flex-flow: row;
}

#base-container {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 820px;
}

.title-decoration {
    width: 100%;
    height: 2px;
    background: #cecfcf;
    border-radius: 1px;
}

.title-text {
    font-size: 18px;
    padding-left: 21px;
    padding-right: 21px;
}

.base-table-title {
    background: #53aee7;
    color: white;
    height: 23px;
    padding-right: 10px;
    font-family: "Heebo-Regular";
    border-radius: 10px 10px 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: #f2f2f6;
    border-width: 0.5px;
    border-style: solid;
}

.base-table-list {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.base-table-list .base-table {
    width: 50%;
    box-sizing: border-box;
    padding: 8.5px;
    box-sizing: border-box;
    max-width: 410px;
}

.base-table-title-group {
    flex: 1;
}

.base-table-body {
    display: flex;
    flex-direction: column;
}

.base-table-category {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 0.5px solid #f2f2f6;
    border-left: 0.5px solid #f2f2f6;
}

.showcase-container {
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    border-right: 0.5px solid #f2f2f6;
    border-left: 0.5px solid #f2f2f6;
    font-size: 12px;
    font-family: 'Heebo-Light', sans-serif;
}

.aircraft-icon {
    width: 25px;
    height: 25px;
}

.base-table-title-text {
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    font-family: 'Heebo-Bold';
}

.base-title-times {
    font-size: 12px;
    display: inline-block;
}

.aircraft-icon-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 3px;
    margin-right: 3px; /* font-family: 'Heebo-Light',sans-serif; */
    color: #596b6a;
    min-width: 32px;
}

.category-name {
    color: #37474f;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 103px;
    flex-shrink: 0;
}

.category-title {
    font-weight: bold;
    font-size: 12px;
}

.category-start-time {
    font-size: 10px;
    color: #596b6a;
}

.base-category-icons {
    display: flex;
    flex-direction: row;
    flex: 2 0 60%;
    margin-top: 5px;
    font-size: 10px;
    flex-flow: row wrap;
    /* justify-content: space-between; */
}

.press-body {
    background: #f5f5f7;
}

.exhibition-category {
    font-size: 12px;
    font-family: 'Heebo-Regular', sans-serif;
    display: inline;
}

.exhibition-body {
    font-size: 12px;
    font-family: 'Heebo-Light';
    display: inline-flex;
}

.base-table-end {
    border-radius: 0 0 10px 10px;
    height: 10px;
    border-right: 0.5px solid #f2f2f6;
    border-bottom: 0.5px solid #f2f2f6;
    border-left: 0.5px solid #f2f2f6;
    background: white;
}

.line-separator {

    width: 100%;

    height: 1px;

    background: #f2f2f6;
}

.city-table-list {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.city-table-list .city-table {
    width: 33%;
    box-sizing: border-box;
    padding: 8.5px;
    box-sizing: border-box;
    max-width: 240px;
}

.city-table-category {
    display: flex;
    margin-bottom: 2px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 0.5px solid #f2f2f6;
    border-left: 0.5px solid #f2f2f6;
    border-right: 0.5px solid #f2f2f6;
}

.city-category-icons {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 10px;
    overflow: hidden;
    flex-flow: row wrap;
}

img.loading {
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
}

div.aerobatic-icon {
    /* padding-left: 8px; */
    /* padding-top: 3px; */
    align-self: flex-end;
}

img.aerobatic-icon {
    margin-left: 8px;
    margin-top: 2px;
    width: 19px;
    height: 19px;
}

img.aerobatic-footer-icon {
    width: 23px;
    height: 23px;
}

img.qrcode {
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 17px;
    align-self: center;
}

div.footer-text {

}

#qrdiv {
    margin-top: 46px;
    display: flex;
    justify-content: center;
}

#qrdivtext {
    width: 297px;
    font-size: 12px;
}

.qrlink {
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
