
.quiz.on-map.button {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #3ab5f1;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

.quiz.on-map.button::before {
    content: 'game';
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}


#quiz {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 64px;
    left: 0;
    z-index: 6;
    background-color: white;
    display:none;
    opacity:0;
    
}