#voiceMessegePopup{
    position: absolute;
    z-index: 100000;
    width: 295px;
    height: 415px;
    background-color: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress-bar{
    background-color: #E6E6E6;
    width: 180px;
    height: 3px;

}
.icons-section{
    width: 255px;
    height: 69px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
}

.airplane-icon{
    width: 50px;
    border: #b9b9b9 0.6px;
    border-style:dashed;
    padding: 1px;
}
.pilot-icon{
    width: 54px;
}
.airplane-name{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.airplane-type{
    font-size: 17px;
    font-weight: 400;
    margin: 0;
}

.airplane-des{
    display: flex;
    flex-direction: column;
}


.audio-progress-section{
    width: 255px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6.4px;
}

.audio-section{
    height: 147px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seperetor{
    width: 100%;
    background: #E7E7E7;
    height: 1px;
    transition: none;
}

.text-section{
    width: 255px;
    height: 242px;
    overflow: hidden;

}
.audio-text{
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    text-align:start;
}