@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: rgba(58, 180, 242, 0.5);
  font-family: Heebo;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.buffer {
  min-width: calc(50vw - 44px);
}
/*hide scrollbar on mobile*/
::-webkit-scrollbar {
  display: none;
}
/*hide scrollbar on mobile*/
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: transparent;
}
/*hide scrollbar on mobile*/
#style-1::-webkit-scrollbar {
  background-color: transparent;
}
/*hide scrollbar on mobile*/
#style-1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

canvas {
  height: 100vh;
  width: 100vw;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
  pointer-events: auto;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s;
}

.is-selecting #ar-overly {
  opacity: 0;
}


#ar-overly .share {
  /* background-color: #3BB5F2;
  width: 10vw;
  height: 10vh; */
  /* bottom: 20px;
  position: absolute;
  width: 189px;
  height: 44px;
  border-radius: 22px;
  text-align: center;
  text-indent: -1000px;
  overflow: hidden;
  background-image: url('./assets/share_ar.png'); 
  background-size: cover;
  background-position: center center;  */
}

/* #ar-overly .share::before {
  content: "שיתוף";
  color: white;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
} */

#ar-overly #ar_info {
  /* position: absolute;
  bottom: 20px;
  left: 20px;
  width: 44px;
  height: 44px;
  overflow: hidden;
  background-image: url('./assets/ar_info.svg');
  background-size: cover;
  background-position: center center; */
}

#ARButton {
  height: 42px;
  width: 124px;
  background-color: #1C1C1C;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: none;
  margin-top: -5px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(100% - 40px);
  height: 47px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: none;
}

#controls button {
  width: 45px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
}
#unsupported-share-button{
  margin-left: 2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#url-copied{
  position: absolute;
  margin-top: 4vh;
  display: none;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  direction: rtl;
}
#unsupported-share-button p{
  padding-right: 5px;
  font-family: Heebo-Medium;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}
#controls #button-reset {
  background-image: url('./icons/scribble.svg');
}
#controls #button-action {
  background-image: url('./assets/flash.svg');
}
#controls #button-close {
  background-image: url('./assets/x.svg');
}
#controls #button-mode-toggle {
  color: white;
  width: 140px;
  position: relative;
}

.animateScale {
  animation: scaleUp 0.5s cubic-bezier(0.785, 0.035, 0.15, 0.86) forwards;
}

@keyframes scaleUp {
  from { transform: scale(0); }
  to { transform: scale(100); }
}

#controls #button-mode-toggle > * {
  display: inline-block;
  background-repeat: no-repeat;
}

#controls #button-mode-toggle .dynamic-mode {
  width: 50px;
  height: 45px;
}

#controls #button-mode-toggle .static-mode {
  width: 55px;
  height: 45px;
}

#controls #button-mode-toggle.dynamic .dynamic-mode {
  background-image: url(./assets/dynamic-icon-selected.svg);
}

#controls #button-mode-toggle.dynamic .static-mode {
  background-image: url(./assets/static-icon.svg);
}

#controls #button-mode-toggle.static .dynamic-mode {
  background-image: url(./assets/dynamic-icon.svg);
}

#controls #button-mode-toggle.static .static-mode {
  background-image: url(./assets/static-icon-selected.svg);
}

#controls #button-mode-toggle::after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #3BB5F2;
  display: block;
  position: absolute;
  right: 10px;
  transition: all 0.2s;
}

#controls #button-mode-toggle:focus {
  outline: none;
}

#controls #button-mode-toggle.static::after {
  right: 85%;
  transform: translateX(100%);
}

.tool-button {
  height: 50px;
  outline: none;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  font-size: 15px;
  font-weight: 900;
  color: #3d3d3d;
  margin: 10px;
}

#screenshot-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color:#4eb5f1;
	text-align:center;
	transition: all 0.2s;
}
#screenshot-button:hover{
	background-color:#4095c6;
}

#share_fb{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color:#4eb5f1;
	text-align:center;
	transition: all 0.2s;
}


  
  #canvas {
	display: none;
  }
  
  .camera {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }

  #video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    opacity: 0;
    }
  
  .output {
	width: 340px;
	display:inline-block;
  }
  
  #startbutton {
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	bottom:32px;
	background-color: rgba(0, 150, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-family: "Lucida Grande", "Arial", sans-serif;
	color: rgba(255, 255, 255, 1.0);
  }
  
  .contentarea {
	font-size: 16px;
	font-family: "Lucida Grande", "Arial", sans-serif;
	width: 760px;
  }

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#camrea {
  z-index: -1;
  position: relative;
}

#canvas {
	display: none;
}

#menus {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: fixed;
}

#aircrafts_menu {
  width: 90%;
  overflow: scroll;
  display: flex;
  align-items: center;
  min-width: 0;
  scroll-snap-type: inline mandatory;
  z-index: 9999;
  /* transition: all 1s; */
}

#aircrafts_menu img {
  display: inline-block;
  width: 100%;
}
.aircraft-text-shadow{
  background-color: rgba(0, 0, 0, 0.317);
  width: 40px;
  align-self: center;
  height: 20px; 
}
.aircraft-option {
  padding: 0 !important;
  flex: 1 0 auto;
  scroll-snap-align: center;
  height: 80px;
  width: 59px;
  outline: none;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  font-weight: 900;
  color: #3d3d3d;
  margin: 5px 5px;
}

.aircraft-option.selected {
  width: 59px;
  height: 80px;
  border: 2px solid #3BB5F2;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
  transition: all 1s;
  background-color: #3bb5f234;
}
.aircraft-animtion{
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #3bb5f234 50%, transparent 50%);
  animation: aircraftanimation 5s ease infinite;
}

@keyframes aircraftanimation {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  100% {
    opacity: 1;
    background-position: -100% 0;
  }
}
@keyframes makeItfadeIn {
  100% {
    background-position: left;
  }
}


#aircrafts_menu .aircraft-option.selected img {
  max-width: 100%;
  max-height: 80%;
  margin-bottom: -3px;
  border-radius: 6px;
}

.aircraft-option .name {
  font-size: 13px;
  transition: all 0.2s;
  font-family: Heebo;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: center;
  color: white;
}
.is-supported .aircraft-option .name{
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 12px;
  padding-left: 7px;
  padding-right: 7px;
}

.aircraft-option.selected .name {
  padding-bottom: -10px;
font-size: 13px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
font-weight: 500;

}
.is-supported.load-aircraft{
  display: none;
  position: absolute;
  padding-bottom: 200px;
 
}
.load-aircraft{
  color: white;
  animation: loadAnimation 1s infinite;
}
 @keyframes loadAnimation {
   0%{
     color: white;
   }
   50%{
     color: gray;
   }
   100%{
     color: white;
   }
 }
/* .middleCircle {
  border: 4px solid #ffffffd8;
  border-radius: 500px;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 82.5px;
} */
/* #space{
  z-index: 2;
  width: 100vw;
  height: 120px;
  background-color: transparent;
  border-bottom: 10px solid;
  border-radius: 40px;
} */
.is-supported #supported-menu-borders{
  display: block;
}

#supported-menu-borders{
  display: none;
 
}
.tringle-conteiner{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tringle{
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top: 0;
  border-bottom: 34px solid black;
  margin-bottom: -20px;
  margin-top: -16px;
}
.tringle:first-child{
  margin-left: -6.5px;
  transform: rotate(-17deg);
}
.tringle:last-child{
  margin-right: -6px;
  transform: rotate(20deg);
}

#help-supported-ar-conteiner{
  display: none;
  position: absolute;
  bottom: 120%;
}
.is-supported #help-supported-ar-conteiner{
  visibility: hidden;
  display: block;
}
#help-supported-ar{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border: 1px solid #EFF1F1;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.30);
  border-radius: 16px;
  height: 402px;
  width: 270px;
  z-index: 1000000;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
#supported-ar-conteiner{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#supported-ar-conteiner .description{
  font-family: Heebo-Regular;
  font-size: 15px;
  color: #37474F;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  width: 200px;
  margin-top: -5px;
}
#supported-ar-conteiner .title{
  font-family: Heebo-Bold;
  font-size: 18px;
  color: #37474F;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
}
#supported-ar-conteiner img{
  margin-top: -5px;
  width: 85%;
  margin-bottom: 10px;
}
#supported-ar-conteiner .conteiner-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#supported-ar-conteiner .conteiner-bottom button{
  width: 86px;
  height: 36px;
  background: #3BB5F2;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: Heebo-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
  font-weight: 500;
}
#supported-ar-conteiner .conteiner-bottom button:active{
  background: #34a1d8;
}
.show-hid-check-box{
  display: flex;
  align-items: center;
  font-size: 14.5px;
}

#space{
  margin-top: -45px;
  margin-bottom: -14px;
  background-color: transparent;
  width: 101vw;
  height: 60px;
  border-bottom: 15px solid;
  border-radius: 30vh;
  display: none;
}

#supported-menu{
  background-color: black;
  height: 72px;
  width: 100%;
  display: none;
}

#menu-block{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

#menu-block #share{
  display: flex;
  align-items: center;
}
#menu-block #share p{
  padding-right: 5px ;
  font-family: Heebo-Medium;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}
#menu-block #change-ar-toggle{
  
}
#menu-block #change-ar-toggle #toggle{
  margin-top: -3px;
  position:absolute;
  margin-left: 4px;
  opacity: 0.63;
  background: #3BB5F2;
  border-radius: 5px;
  height: 38px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  pointer-events: none;
}
#menu-block #change-ar-toggle #icons{
  margin-top: -8px;
  pointer-events: none;
  width: 124px;
  display: flex;
  align-items: center;
  z-index: 1;
  position:absolute;
  justify-content: space-around;
}
#menu-block #change-ar-toggle #icons svg:first-child{
  pointer-events: none;
  margin-left: -10px;
}
#menu-block #change-ar-toggle #icons svg:last-child{
  pointer-events: none;
  margin-left: -10px;
}
#menu-block #help{
  display: flex;
  font-family: Heebo-Medium;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
  fill: white;
  align-items: center;
}
#menu-block #help svg{
  margin-left: 4px;
}
.is-supported #unsupported-share-button{
  display: none;
}
.is-supported #space{
  display: block;
}
.is-supported #supported-menu{
  display: block;
}
#at-overly{
  opacity: 0;
}

.ar-starts-text{
  color: white;
  font-family: Heebo;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  line-height: 2em;
  margin-top: 56px;
}

#ar-start {
  margin-top: 120%;
  position: fixed;
  height: 10%;
  width: 100%;
  z-index: 999;
  background: green;
  /* display: none; */
}

.is-supported #ar-start .d-open{
  margin-top:11px;
}

.is-supported #ar-start .arrow{
  width: 30.5px;
  margin: auto;
  margin-bottom: 11px;
  content: url(/icons/arrow-down.svg);
}

.is-supported #ar-start #arrows{
  display: flex;
  flex-direction: column;
}

.is-supported #ar-start .arrow#sec-arrow{
  opacity: 0.93;
}

.is-supported #ar-start .arrow#rd-arrow{
  opacity: 0.64;
}
#trails_menu {
  width: 100%;
  overflow: scroll;
  display: flex;
  align-items: center;
  min-width: 0;
  scroll-snap-type: inline mandatory;
}

div #trails_menu.trails_menu_hide{
  display:  none;
}

div #resetbutton.trails_menu_hide {
  
  visibility: hidden;
 
}
#resetbutton{
  display: none;

}

#trails_menu img {
  display: inline-block;
  width: 22px;
}

.trails-option {
  flex: 1 0 auto;
  scroll-snap-align: center;
  height: 28px;
  width: 28px;
  outline: none;
  background-color: #ffffff36;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  box-shadow: 0px 0px 5px 3px #0c0c0c38;
  font-size: 15px;
  font-weight: 900;
  color: #3d3d3d;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.trails-option.selected {
  border: 1px solid rgba(255, 255, 255, 0.767);
}

.small-x-button {
  padding: 3px 2px 1px;
  border-radius: 50px;
  background-color: black;
}


#menus {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings_menu {
  width: calc(100% - 30px);
  height: 84px;
  padding: 0 15px;
  /* background-color: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode-menu {
  display: flex;
}

.mode-menu div {
  font-size: 17px;
  font-weight: 400;
  width: 50px;
  text-align: center;
}

.mode-menu .selected {
  font-weight: 600;
}

/* USDZ */
.image-model {
  width: 200px;
  border-radius: 10px;
}

/* Loader */

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke: rgb(24, 201, 255);
  stroke-width: 6px;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
} 

#speed_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 170px;
  height: 203px;
  outline: none;
  -webkit-transition: .2s;
  transition: all 0.3s;
  /* background: linear-gradient( to bottom left, transparent 40%, #d5d5d56e 50% ); */
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: 100%;
  perspective: 50em;
}

/* noam only css version */
/* input[type="range"] {
  position: absolute;
  top: -25vh;
  left: -85px;
  transform: rotate(90deg);
}
#speed_slider::before {
  width: 540%;
  height: 7px;
  background: rgb(255, 255, 255);
  position: absolute;
  display: block;
  content: '';
  bottom: 99px;
  transform: translateX(-50%) rotateY(81deg);
  top: calc(50% + -4px);
  left: 132px;
  box-shadow: 0 0 1px 0px rgba(2, 2, 2, 0.479);
  z-index: -1;
  opacity: 0.5;
} */

/* idan version with svg */
input[type="range"] {
  position: absolute;
  top: -25vh;
  left: -110px;
  transform: rotate(90deg);
}

#speed_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 221px;
  height: 27px;
  outline: none;
  -webkit-transition: .2s;
  transition: all 0.3s;
  /* background: linear-gradient( to bottom left, transparent 40%, #d5d5d56e 50% ); */
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(./assets/triangle.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: 100%;
}

/* /////////////// */

#speed_slider.speed_slider_focused {
  opacity: 1;
  left: -65px;
  transition: all 0.3s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#speed_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33px;
  height: 33px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 3px #1f1f1f56;
  /* opacity: 0.8; */
}

#slidecontainer.slidecontainer_hide {
  display: none;
}

#usdz_info {
  left: 0;
  right: 0;
  top: 235px;
  margin: auto;
  position: absolute;
  width: 275px;
  height: 290px;
  /* left: 30vw;
  top: 30vh; */
  background-size: contain;
  background-color: #00000047;
  background-image: url(./assets/usdz_info.svg);
  background-size: 100%;
  border-radius: 20px;
}

div.open-bases-popup {
  overflow : scroll;
  position: relative;
  width: 100%;
  height: 100vh;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #003366;
}

div.open-bases-popup div.header-base-popup {
}

div.header-base-popup div.header-theme {
  display: flex;     
  position: relative; 
  height: auto;
}

div.header-base-popup div.header-theme img{
  position: absolute;
  object-fit: cover;
  height: auto;
  max-height: 200px;
  width: 100%;
  -webkit-user-drag: none;
}

div.header-theme div.header-menu {
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

div.header-menu button.drag {
  height: 7.5px;
  width: 70px;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px #888888;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

div.header-menu button:active {
  cursor: grab;
}

div.header-menu div.close-handler {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-self:center;
  cursor: pointer;
  -webkit-user-select: none;
  position: relative;
}

div.close-handler div.close-left-stick {
  background-color: white;
  width: 25px;
  height: 5px;
  box-shadow: 0.25px -0.25px 8px 1px#888888;
  border-radius: 5px;
  position: absolute;
  transform: rotate(45deg);

}

div.close-handler div.close-right-stick {
  background-color: white;
  width: 25px;
  height: 5px;
  transform: rotate(-45deg);
  box-shadow: 0.2px 0.2px 8px 1px#888888;
  border-radius: 5px;
  position: absolute;
  margin-left: 14.5px;
  z-index: 999;
}

div.header-base-popup div.header-general-title {
  width: 100%;
  position: relative;
  top: 172.75px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #c3c3c3;
}

div.header-base-popup div.header-general-title img {
  width: 4rem;
  height: 4rem;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  margin-right: 2.5%;
}

div.header-general-title div.header-title {
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.85rem;
}

div.header-general-title h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.header-general-title p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.header-general-title a {
  margin-right: auto;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
}


div.header-general-title a img {
  max-width: 2.5em;
  max-height: 2.5em;
}

div.open-bases-popup div.base-general-information {
  position: relative;
  top: 172.75px;
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin-top: 20px;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
}

div.open-bases-popup div.base-general-information p.base-passage {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  line-height: 20px;
  border-bottom: 1px solid #c3c3c3;
}

div.base-general-information div.base-info-with-icon {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  height: 6rem;
  
}

div.base-info-with-icon img {
  display: flex;
  align-self: flex-start;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  max-width: 4em;
  max-height: 4em;
  margin-right: 5%;
}

div.base-info-with-icon div.base-info {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 0.9rem;
}

div.base-info-with-icon div.base-info p {
  margin-top: 0.5rem;
  line-height: 20px;
}

div.base-info-with-icon div.base-info p a{
  color: cyan;
  font-weight: 600;
}

div.base-general-information div.airplane-card{
  margin-top: 30px;
  align-self: center;
  background-image: url();
  height: auto;
  border-radius: 15px;
  box-shadow: 4px 4px 10px 0px #888888;
  display: flex;
  flex-direction: column;
}

div.airplane-card h1 {
  margin: 10px;
}

div.airplane-card p {
  max-width: 70%;
  margin: 10px;
  line-height: 20px;
  
}

div.airplane-card a {
  display: flex;
  margin-right: 15%;
  margin-top : 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

div.airplane-card a button.base-map {
  background-color: cyan;
  color: white;
  font-weight: 600;
  padding: 9px;
  border-radius: 18px;
  border: 0px;
  cursor: pointer;
  
}

.loading-ar{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  background: black;
  align-items: center;
  justify-content: center;
}
.loading-ar img{
  width: 11vmin;
  height: 5vmax;
}
.is-supported .full-screen-popup{
  display: none;
}
.full-screen-popup{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 200px;
  background-color: white;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  animation: fadeIn 0.8s;
}
.full-screen-popup p{
  width: 175px;
  direction:rtl;
}
.full-screen-popup button{
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  background-color:#3BB5F2;
}
.full-screen-popup button:active{
  background-color:#34a3db;
}
.is-supported .dim-background{
  display: none;
}
.dim-background{
  display: none;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
}